@charset "utf-8";
/* CSS Document */

html {
	font-size: 14px;
	font-family: "Open Sans", sans;
	width: 100%;
}

section {
	padding-top: 2rem;
}

img {
	width: 100%;
}

h2 {
	font-size: 1.7rem;
	font-weight:bold;
}

h3 {
	font-size: 1.3rem;
	font-weight:bold;
}

h4 {
	font-weight:normal;
	font-size: 1rem;
}

.btn-jumpin, .btn-learn-more {
	position: relative;
	width: 100%;
	padding: 2.8rem;
	text-align: center;
}

.btn {
	background-color: #399bd1;
	color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	width: 11.4rem;
	padding: 1.3rem;
}

.btn:hover {
	color: white;
	background-color: #399bd1;
	box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.btn:active {
	background-color: #399bd1;
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

.image-container {
	overflow: hidden;
}

.image-container img {
	opacity: 0.6;
	transition: transform .5s, opacity .5s;
}

.image-container img:hover {
	transform: scale(1.3);
	opacity: 1;
	cursor:pointer;
}

/* Navigation */
.navbar-default .navbar-nav li a {
	font-size: 1.1rem;
	font-weight: bold;
	font-family:inherit;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
	color: #399bd1;
	background-color:inherit;
}


/* Jumbotron */
.jumbotron  {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	padding-bottom: 11.85rem;
}

.jumbotron-bike {
		background-image: url("../img/jumbotron-bike.jpg");
}

.jumbotron .container-fluid h1 {
		margin-top:11.85rem;
		font-family: Monoton;
		font-size: 5.7rem;
}

.jumbotron .container-fluid p {
		max-width: 51.3rem;
		padding: 2.8rem;
		margin: auto;
}

/* Jump in Button */

.btn-jumpin {
	margin-top: -17rem;
}

/* Featured Project and Projects section */
#featured {
	padding-top: 7.1rem;
}

#featured h2, #projects h2 {
	color: #399bd1;
	margin-bottom: 1.4rem;
}

#product-categories h3 {
	color: #399bd1;
}

#featured #product-categories span {
	line-height: 1.4em;
	color: rgba(0,0,0,0.7);
}

#projects {
	padding-bottom: 5.85rem;
}

.project {
	padding-bottom: 5rem;
}

.project p {
	font-size: 1.5rem;
}

/*Having trouble section */
#trouble {
	padding: 5.2rem 0;
	background-color: #f3f3f3;
}

#trouble h1 {
	font-size: 2.5rem;
	padding-bottom: 1.4rem;
}

#trouble p {
	width: 42rem;
	margin: 0 auto;
}


/*#### large adjustments*/
@media only screen and (min-width:992px) {
	
	.jumbotron .container-fluid h1 {
		 font-size: 7.1rem;
	}
	
	#project-title h3, #product-categories h3 {
			margin-top: 0;
	}
	
	.project {
		padding-bottom:0;
	}
	
	.project P {
		font-size: 1rem;
	}


}