@charset "utf-8";
/* CSS Document */

body {
	font-size: 14px;
	font-family: "Open Sans", sans;
	width: 100%;
}


/* Navigation */
.navbar-default .navbar-nav li a {
	font-size: 1.1rem;
	font-weight: bold;
	font-family:inherit;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover{
	color: #399bd1;
	background-color:inherit;
}


/* Jumbotron */
.jumbotron  {
	min-height: 55rem;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	padding-bottom: 11.85rem;
}

.jumbotron-bike {
		background-image: url("../img/jumbotron-bike.jpg");
}

.jumbotron .container-fluid h1 {
		margin-top:11.85rem;
		font-family: Monoton;
		font-size: 7.1rem;
}

.jumbotron .container-fluid p {
		max-width: 51.3rem;
		padding: 2.8rem;
		margin: auto;
}

/* Jump in Button */

.btn-jumpin {
	position: relative;
	width: 100%;
	padding: 2.8rem;
	margin-top: -17rem;
	text-align: center;
}

.btn-jumpin .btn {
	background-color: #399bd1;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	width: 11.4rem;
	padding: 1.3rem;
}

.btn-jumpin .btn:hover {
	box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.btn-jumpin .btn:active {
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}
